.fd-main-div{
    margin-left: 305px;
}
.fdimg-sides{
    width:1100px;
    height:500px;
}
.parent2{
    position: relative;
}
.child2{
    position: absolute;
    top:150px;
    color: white;
}
.fd-heading{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fd-para{
    margin-left: 50px;
}
.biryani-img{
    width:200px;
    height: 200px;
    border-radius: 200px;
    margin-top: 20px;
    margin-left: 10px;
}
.card-body1{
    width: 1080px;
    height: 270px;
    margin-left: 20px;
    border-color: black;
    margin-top: 20px;
}
.biryani-heading{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.biryani-para{
    text-align: justify;
}
.biryani-data{
    margin-top: 10px;
    margin-left: 10px;
}
.head:hover{
cursor: pointer;
color:coral;
}
.card-btn1{
    width:150px;
    height: 40px;
    margin-right: 200px;
    background-color: orange;
    margin-bottom: 20px;
    margin-top: 10px;
}
.biryani-heading:hover{
    cursor: pointer;
    color:brown;
    background-color:beige;
    width: 1050px;
}
